<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      srcset=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
        reprehenderit sapiente corrupti officiis facere voluptate, non numquam
        dolor dolores quam nisi! Asperiores voluptates consequatur perspiciatis
        velit nam ut exercitationem repudiandae.
      </a>
    </p>
  </div>
</div>
