<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="{{ articles.bigCard.id }}"
      cardTitle="{{ articles.bigCard.title }}"
      cardDescription="{{ articles.bigCard.description }}"
      photoCover="{{ articles.bigCard.photoCover }}"
    ></app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
      *ngFor="let article of articles.smallCard"
      id="{{ article.id }}"
      cardTitle="{{ article.title }}"
      photoCover="{{ article.photoCover }}"
      date="{{ article.date }}"
    ></app-small-card>
  </div>
</div>
